extends layout

block content    
    .w3-card-4.w3-margin-us.w3-white.w3-center
      .w3-container
       h1 Pedidos Pendentes de Hoje

       br
       input#myInput.w3-border.w3-round.w3-left(type='text' onkeyup='myFunction()' placeholder='Procure por data' title='Type in a name')
       table#myTable.w3-table.w3-striped.w3-center
         tr
           th Estado
           th Data
           th Relatório
           th Tipo Exame 
           th Descrição de Exame 
           th Opções
         each elemento in pedidos
           tr
             td=elemento.estado
             td=elemento.data
             td=elemento.relatório 
             td=elemento.codigoExame 
             td=elemento.descExame
             td 
               a.w3-button.w3-red.w3-padding(href='/aceitar/'+elemento.id) Aceitar 	
               a.w3-button.w3-red.w3-padding(href='/delete/'+elemento.id) Cancelar
      a.w3-button.w3-red.w3-padding(href='/') Voltar
      script.
        function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        } else {
        tr[i].style.display = "none";
        }
        }
        }
        }
      br
